.back-heart{
    width:100vw;
    min-height:100vh;
    background-color:#FBF2D1;
}
.product-heart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media (max-width:530px){
    .product-heart{
        flex-direction: column;
        align-items: center;
    }
}
