.filter-bar{
    display:flex;   
    justify-content:space-between !important;
    margin-top:5px;
    font-size:20px;
    width:97%;
    color:#11324D;
}
.filter{
    position:relative;
    cursor:pointer;
    margin-inline: 10px;
}
.filter:hover{
    text-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.4);
}

.filter:hover .menufilter{
    display: flex;
}
.menufilter{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:0px;
    z-index:1;
    width:fit-content;
    box-shadow: 0px 15px 10px 7px rgba(0, 0, 0, 0.4);
    display:none;
}

.btn-filter{
    color:#0E1D51;
    border:none;
    border-bottom: solid 1px #0E1D51;
    background:white; 
    width:150px;
    font-size:15px;

}
.btn-filter:hover{
    background-color:#0E1D51;
    color:white;
}
.btn-insert{
    border: none;
    color: #0E1D51;
    background-color: #F4C444;
    border-radius: 50px;
}
.btn-insert:hover{
    color: #F4C444;
    background-color: #0E1D51;
}