.marker{
    width: fit-content;
    height: fit-content;
    border-radius: 200px;
    z-index: 0;
}
/* ********************* */

.marker-btn{
    background-color: blue;
    border:solid 3px blue;
    border-radius:200px;
    width:30px;
    height:33px;
    padding:0px;
}
.marker-btn::after {
    content: " ";
    position: absolute;
    top: 97%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-top-color: inherit;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
/* ********************** */

.marker-img{
    width:22px;
    height:25px;
    border-radius:200px;
}


/* *********************** */
