.recharts-wrapper {
    width:100% !important;
}
.PieCHART .recharts-wrapper .recharts-surface {
    width:100% ;
   
}
.svg{
width:100% !important
}
.recharts-legend-wrapper{
 width:100% !important
}
